            .heading {
                padding: 60px;
                font-size: 25px;
                text-align: center;
                background: green;
            }
           
 
            .section {
               background-color: #E9E2FA;
               padding: 20px;
               margin-top: 30px;
            }




            .section {
              background-color: #f1391824
              padding: 20px;
              margin-top: 30px;
            }
